<!-- <div>
  cách tạo component:
  ng g c "Tên component"
</div> -->

<!-- <div class="card" style="width: 18rem;">
  <img src="./img/a.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Xin chào các bạn</h5>
    <p class="card-text">{{"Tôi tên là:" + User.name}}</p>
    <p class="card-text">{{"Tuổi là:" + User.age}}</p>
    <p class="card-text">{{"Nơi ở:" + User.address}}</p>
    <a href="#" class="btn btn-primary">Go</a>
  </div>
</div> -->
<!-- // "./node_modules/bootstrap/dist/css/bootstrap.min.css", -->
<div>
  <app-header></app-header>
  <app-home></app-home>
  <app-footer></app-footer>
</div>